<div class="modal-overlay">
  <div class="modal-content p-6 bg-white shadow-lg rounded-lg w-[58%]">
    <button class="close-button" (click)="onClose()">×</button>

    <h2 class="text-xl font-semibold mb-4">{{ task?.title }}</h2>
    <p class="mb-4">{{ task?.description }}</p>

    <p class="font-medium mb-4">
      Subtasks ({{ getCompletedSubtaskCount() }} of
      {{ getTotalSubtaskCount() }} subtasks)
    </p>

    <form [formGroup]="subtaskForm">
      <div class="space-y-2">
        <button
          *ngFor="let subtask of subtasks.controls; let i = index"
          class="flex items-center space-x-2 bg-light-background p-4 w-full gap-5 rounded-lg cursor-pointer"
          (click)="toggleSubtaskCompletion(i)"
          [ngClass]="{
            'line-through text-gray-500 bg-gray-100':
              subtask.get('isCompleted')?.value
          }"
        >
          <input type="checkbox" [formControlName]="i" class="w-4 h-4" />
          <label class="text-sm font-semibold">{{
            subtask.get("title")?.value
          }}</label>
        </button>
      </div>
    </form>

    <div class="mt-4">
      <label for="status" class="block text-sm font-medium text-gray-700 mb-3">
        Current Status:
      </label>
      <select
        id="status"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        [value]="selectedStatus"
        (change)="handleStatusChange($event)"
      >
        <option
          *ngFor="let column of activeBoard?.columns"
          [value]="column.name"
          [selected]="column.name === selectedStatus"
        >
          {{ column.name }}
        </option>
      </select>
    </div>
  </div>
</div>
