<div
  class="flex h-screen font-sans"
  [ngClass]="{
    'bg-dark-primary text-dark-text': (isDarkMode$ | async),
    'bg-light-background text-gray-800': !(isDarkMode$ | async)
  }"
>
  <app-side-bar
    class="w-1/5 hidden lg:block fixed top-0 left-0 h-full"
    [ngClass]="{
      'bg-dark-secondary text-dark-text': (isDarkMode$ | async),
      'bg-light-white text-white': !(isDarkMode$ | async)
    }"
  ></app-side-bar>

  <div class="flex-1 flex flex-col" style="margin-left: 20%">
    <app-nav-bar
      class="w-full fixed top-0 left-0 lg:left-[20%] z-10"
      [ngClass]="{
        'bg-dark-tertiary text-dark-text': (isDarkMode$ | async),
        'bg-light-background text-gray-800': !(isDarkMode$ | async)
      }"
    ></app-nav-bar>

    <div
      class="flex-1 no-scrollbar pt-24"
      [ngClass]="{
        'bg-dark-tertiary text-dark-text': (isDarkMode$ | async),
        'bg-light-background text-gray-800': !(isDarkMode$ | async)
      }"
    >
      <div class="min-w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
