<div
  class="flex h-screen font-sans"
  [ngClass]="{
    'bg-dark-primary text-dark-text': (isDarkMode$ | async),
    'bg-light-background text-gray-800': !(isDarkMode$ | async)
  }"
>
  <app-side-bar
    class="w-1/5 hidden lg:block"
    [ngClass]="{
      'bg-dark-secondary text-dark-text': (isDarkMode$ | async),
      'bg-light-white text-white': !(isDarkMode$ | async)
    }"
  ></app-side-bar>

  <div class="flex-1 flex flex-col">
    <app-nav-bar
      class="w-full"
      [ngClass]="{
        'bg-dark-tertiary text-dark-text': (isDarkMode$ | async),
        'bg-light-background text-gray-800': !(isDarkMode$ | async)
      }"
    ></app-nav-bar>

    <div
      class="flex flex-1 items-center justify-center"
      [ngClass]="{
        'bg-dark-tertiary text-dark-text': (isDarkMode$ | async),
        'bg-light-background text-gray-800': !(isDarkMode$ | async)
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
