/* Hide scrollbars but keep scrolling functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
