<section class="relative h-screen flex flex-col justify-between">
  <div>
    <div class="flex items-center mb-8 ml-7 mt-7">
      <img src="assets/kanban.png" alt="Kanban Logo" class="w-7 h-7 mr-2" />
      <h2 class="text-dark-background text-2xl font-bold">kanBan</h2>
    </div>
    <p class="text-dark-text text-sm font-medium mb-5 ml-7">ALL BOARDS (3)</p>
    <div
      class="flex items-center mb-3 hover:bg-[#E4EBFA] cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
      [ngClass]="{ 'bg-[#635FC7]': isActive('Platform Launch') }"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p class="text-white text-sm font-medium">Platform Launch</p>
    </div>

    <div
      class="slider-items flex items-center mb-3 bg-transparent hover:bg-[#E4EBFA] cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p class="text-gray-800 text-sm font-medium">Marketing Plan</p>
    </div>
    <div
      class="slider-items flex items-center mb-3 bg-transparent hover:bg-[#E4EBFA] cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p class="text-gray-800 text-sm font-medium">RoadMap</p>
    </div>

    <div
      class="slider-items flex items-center hover:bg-[#E4EBFA] cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p class="text-gray-800 text-sm font-medium">Create New Board</p>
    </div>
  </div>

  <div class="flex flex-col items-center">
    <div
      class="flex items-center justify-center mb-4 p-3 rounded-lg bg-[#F4F7FD] w-[85%]"
    >
      <img
        src="assets/icon-light-theme.svg"
        alt="Light Theme Icon"
        class="w-5 h-5 mx-2"
      />
      <img
        src="assets/toggle.svg"
        alt="Toggle Theme"
        class="w-10 h-5 mx-2 cursor-pointer"
      />
      <img
        src="assets/icon-dark-theme.svg"
        alt="Dark Theme Icon"
        class="w-5 h-5 mx-2"
      />
    </div>

    <div
      class="flex items-center bg-transparent hover:bg-[#E4EBFA] cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
    >
      <img
        src="assets/icon-hide-sidebar.svg"
        alt="Hide Sidebar Icon"
        class="w-5 h-5 mr-2"
      />
      <p class="text-dark-secondary text-lg font-semibold">Hide Sidebar</p>
    </div>
  </div>
</section>
