<section
  class="relative h-screen flex flex-col justify-between font-sans"
  [ngClass]="{
    'bg-dark-secondary': (isDarkMode$ | async),
    'bg-light-white': !(isDarkMode$ | async)
  }"
>
  <div class="flex items-center ml-7 mt-7">
    <img src="assets/kanban.png" alt="Kanban Logo" class="w-7 h-7 mr-2" />
    <h2
      class="text-2xl font-bold"
      [ngClass]="{
        'text-dark-secondary': !(isDarkMode$ | async),
        'text-light-white': (isDarkMode$ | async)
      }"
    >
      KanBan
    </h2>
  </div>

  <div *ngIf="!isSidebarCollapsed" class="ml-7">
    <p
      class="text-sm font-medium mb-3"
      [ngClass]="{
        'text-[#828FA3]': (isDarkMode$ | async),
        'text-dark-text': !(isDarkMode$ | async)
      }"
    >
      ALL BOARDS (3)
    </p>
    <div
      class="flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
      [ngClass]="{
        'bg-dark-primary': isActive('Platform Launch') && (isDarkMode$ | async),
        'bg-light-primary':
          isActive('Platform Launch') && !(isDarkMode$ | async),
        'hover:bg-light-text': !(isDarkMode$ | async),
        'hover:bg-dark-tertiary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p
        class="text-sm font-medium"
        [ngClass]="{
          'text-light-white': !(isDarkMode$ | async),
          'text-light-background':
            isActive('Platform Launch') && (isDarkMode$ | async),
          'text-dark-background': !(isDarkMode$ | async)
        }"
      >
        Platform Launch
      </p>
    </div>

    <div
      class="slider-items flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
      [ngClass]="{
        'bg-transparent': true,
        'hover:bg-light-text': !(isDarkMode$ | async),
        'hover:bg-dark-tertiary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p
        class="text-sm font-medium"
        [ngClass]="{
          'text-dark-text': (isDarkMode$ | async),
          'text-gray-800': !(isDarkMode$ | async)
        }"
      >
        Marketing Plan
      </p>
    </div>

    <div
      class="slider-items flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
      [ngClass]="{
        'bg-transparent': true,
        'hover:bg-light-text': !(isDarkMode$ | async),
        'hover:bg-dark-tertiary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p
        class="text-sm font-medium"
        [ngClass]="{
          'text-dark-text': (isDarkMode$ | async),
          'text-gray-800': !(isDarkMode$ | async)
        }"
      >
        RoadMap
      </p>
    </div>

    <div
      class="slider-items flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full mb-10"
      [ngClass]="{
        'bg-transparent': true,
        'hover:bg-light-text': !(isDarkMode$ | async),
        'hover:bg-dark-tertiary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-6 h-6 mr-3 ml-4"
      />
      <p
        class="text-sm font-medium"
        [ngClass]="{
          'text-dark-text': (isDarkMode$ | async),
          'text-gray-800': !(isDarkMode$ | async)
        }"
      >
        Create New Board
      </p>
    </div>
  </div>

  <div *ngIf="!isSidebarCollapsed" class="flex flex-col items-center">
    <div
      class="flex items-center justify-center p-2 rounded-lg w-[85%] space-x-4"
      [ngClass]="{
        'bg-light-background': !(isDarkMode$ | async),
        'bg-dark-tertiary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-light-theme.svg"
        alt="Light Theme Icon"
        class="w-5 h-5"
      />
      <div
        class="relative w-12 h-6 rounded-full cursor-pointer"
        (click)="toggleTheme()"
        [ngClass]="{
          'bg-dark-primary': !(isDarkMode$ | async),
          'bg-[#635FC7]': (isDarkMode$ | async)
        }"
      >
        <div
          class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform"
          [ngClass]="{
            'transform translate-x-6': (isDarkMode$ | async),
            'transform translate-x-0': !(isDarkMode$ | async)
          }"
        ></div>
      </div>
      <img
        src="assets/icon-dark-theme.svg"
        alt="Dark Theme Icon"
        class="w-5 h-5"
      />
    </div>
  </div>

  <div class="flex flex-col items-center">
    <button
      class="flex items-center justify-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full transition-all duration-300 ease-in-out"
      [ngClass]="{
        'bg-transparent hover:bg-light-white': !isSidebarCollapsed,
        'bg-dark-primary': isSidebarCollapsed
      }"
      (click)="toggleSidebar()"
    >
      <img
        *ngIf="!isSidebarCollapsed"
        src="assets/icon-hide-sidebar.svg"
        alt="Hide Sidebar Icon"
        class="w-5 h-5 mr-2"
      />
      <img
        *ngIf="isSidebarCollapsed"
        src="assets/icon-show-sidebar.svg"
        alt="Show Sidebar Icon"
        class="w-5 h-5 mr-2"
      />
      <p
        *ngIf="!isSidebarCollapsed"
        class="text-lg font-semibold"
        [ngClass]="{
          'text-dark-text': (isDarkMode$ | async),
          'text-light-primary': !(isDarkMode$ | async)
        }"
      >
        Hide Sidebar
      </p>
    </button>
  </div>
</section>
