<section
  class="relative h-screen flex flex-col font-sans"
  [ngClass]="{
    'bg-dark-tertiary': (isDarkMode$ | async),
    'bg-light-white': !(isDarkMode$ | async)
  }"
>
  <div class="ml-7 mt-8">
    <p
      class="text-sm font-medium mb-3"
      [ngClass]="{
        'text-[#828FA3]': (isDarkMode$ | async),
        'text-dark-text': !(isDarkMode$ | async)
      }"
    >
      ALL BOARDS ({{ (boards$ | async)?.length }})
    </p>

    <div
      *ngFor="let board of boards$ | async"
      class="flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full"
      [ngClass]="{
        'bg-dark-primary': isActive(board.name) && (isDarkMode$ | async),
        'bg-light-primary': isActive(board.name) && !(isDarkMode$ | async),
        'hover:bg-light-text': !(isDarkMode$ | async),
        'hover:bg-dark-tertiary': (isDarkMode$ | async)
      }"
      (click)="setActive(board)"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-4 h-4 mr-3 ml-4"
      />
      <p
        class="text-sm font-semibold"
        [ngClass]="{
          'text-dark-secondary': !(isDarkMode$ | async),
          'text-light-background':
            isActive(board.name) && (isDarkMode$ | async),
          'text-dark-background': !(isDarkMode$ | async)
        }"
      >
        {{ board.name }}
      </p>
    </div>

    <div
      class="flex items-center cursor-pointer w-[90%] p-3 rounded-tr-full rounded-br-full text-[#635FC7] mb-[8rem]"
      (click)="openCreateBoardModal()"
    >
      <img
        src="assets/icon-board.svg"
        alt="Board Icon"
        class="w-4 h-4 mr-3 ml-4"
      />
      <p class="text-sm font-semibold">+ Create New Board</p>
    </div>
  </div>
  <div class="flex flex-col">
    <div
      class="flex items-center justify-center p-2 rounded-lg w-[85%] space-x-4 ml-4"
      [ngClass]="{
        'bg-light-background': !(isDarkMode$ | async),
        'bg-dark-secondary': (isDarkMode$ | async)
      }"
    >
      <img
        src="assets/icon-light-theme.svg"
        alt="Light Theme Icon"
        class="w-5 h-5"
      />
      <div
        class="relative w-12 h-6 rounded-full cursor-pointer"
        (click)="toggleTheme()"
        [ngClass]="{
          'bg-dark-primary': !(isDarkMode$ | async),
          'bg-[#635FC7]': (isDarkMode$ | async)
        }"
      >
        <div
          class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full transition-transform"
          [ngClass]="{
            'transform translate-x-6': (isDarkMode$ | async),
            'transform translate-x-0': !(isDarkMode$ | async)
          }"
        ></div>
      </div>
      <img
        src="assets/icon-dark-theme.svg"
        alt="Dark Theme Icon"
        class="w-5 h-5"
      />
    </div>
  </div>
</section>
<app-add-board-modal
  *ngIf="isCreateBoardModalOpen"
  (close)="closeCreateBoardModal()"
></app-add-board-modal>
