<div class="flex space-x-16 p-4 font-sans overflow-x-auto">
  <div
    *ngFor="let column of (selectedBoard$ | async)?.columns; let columnIndex = index"
    class="w-[250px] flex-shrink-0"
  >
    <h2 class="text-[12px] font-semibold text-dark-text mb-4">
      {{ column?.name }} ({{ column?.tasks?.length || 0 }})
    </h2>
    <ul class="space-y-6 cursor-pointer">
      <button
        *ngFor="let task of column.tasks; let taskIndex = index"
        class="rounded-lg shadow-md p-4"
        [ngClass]="{
          'bg-light-white text-gray-800': !(isDarkMode$ | async),
          'bg-dark-tertiary text-light-primary': (isDarkMode$ | async)
        }"
        (click)="openTaskModal(columnIndex, taskIndex, task)"
      >
        <p
          class="text-sm font-semibold text-dark-tertiary hover:text-[#635FC7] w-[250px]"
          [ngClass]="{
            'text-dark-secondary': !(isDarkMode$ | async),
            'text-light-white': (isDarkMode$ | async)
          }"
        >
          {{ task.title }}
        </p>
        <p class="text-[14px] text-dark-text font-semibold">
          {{ getCompletedSubtaskCount(task) }} of
          {{ getTotalSubtaskCount(task) }} subtasks
        </p>
      </button>
    </ul>
  </div>
</div>

<!-- Pass data to the modal -->
<app-modal
  [colIndex]="selectedColIndex"
  [taskIndex]="selectedTaskIndex"
  [task]="selectedTask"
  [activeBoard]="(selectedBoard$ | async)"
  *ngIf="isModalOpen"
  (closeModal)="closeModal()"
  (subtaskToggled)="handleSubtaskToggled($event, selectedTask!)"
></app-modal>
